* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#main-container {
    padding: 5% 2%;
}

#testimonial-1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    position: relative;
}

#quote {
    position: absolute;
    right: 5%;
    top: 0px;
    z-index: 1;
}

#testimonial-2 {
    background-color: hsl(217, 19%, 35%);
    color: white;

}

#testimonial-3, #testimonial-5 {
    background-color: white;
    color: hsl(217, 19%, 35%);

}

#testimonial-4 {
    background-color: hsl(219, 29%, 14%);
    color: white;

}


.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    font-size: 13px;
    
    font-weight: 500;
}

.grid-item p {
    opacity: 70%;
}

.header-text .name {
    opacity: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
}

.header-text {
    margin-left: 15px;
}

.header-text .name {
    font-size: 1rem;
}
.header img {
    border-radius: 50%;

}

.grid-item h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    z-index: 3;
}


@media (min-width: 576px) {
    #main-container, 
    #main-left,
    #top,
    #bottom {
        display: flex;
    }

    #main-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 80%;
    }

    #testimonial-5 {
        flex-basis: 20%;
    }

    #top, #bottom {
        flex-basis: 50%;   
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 70%;
    }
    
    #testimonial-2,#testimonial-3  {
        flex-basis: 30%;

    }

    #main-left .grid-item {
        margin-right: 15px;
    }

    .grid-item {
        margin-bottom: 15px;
    }

}